<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Document</title>
</head>

<body>
    <style>
h3 {

  padding: 0px;
padding-left: 230px;
padding-right:120px;

}

.button{
background-color:"#e7e7e7";
}
body {
              background-image : url('car.jpg');
              background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;

        }
</style>

    <div style="color:black">
        <form action="{{ url_for('predict')}}" method="post">
            </br><center><h2 style="font-size:25px">Prediction of old car price</h2></center>
			<div class='description'>
    			<marquee> <center><p style="color:red" >A Machine Learning Web Application</p> </center></marquee>
    		</div>
    	</div>
</br><table><tr>
            <td><h3 style="left">Year</h3>
</td>
 <td><input style="float:right" id="first" name="Year" type=" number "></td></tr>
<tr>
           <td> <h3 style="left">What is the Showroom Price?(In lakhs)</h3></td>
<td><input  id="second" name="Present_Price" required="required"></td></tr>
<tr>
          <td>  <h3 style="left">How Many Kilometers Drived?</h3></td>
<td><input id="third" name="Kms_Driven" required="required"></td></tr>
  <tr>
<td><h3 style="left">How much owners previously had the car(0 or 1 or 3) ?</h3></td>
<td><input id="fourth" name="Owner" required="required"></td></tr>

            <tr><td><h3 style="left">What Is the Fuel type?</h3></td>
<td><select  name="Fuel_Type_Petrol" id="fuel" required="required">
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="Diesel">CNG</option>
            </select></td></tr>
<tr><td>
            <h3 style="left">Are you A Dealer or Individual</h3></td>
<td><select name="Seller_Type_Individual" id="resea" required="required">
                <option value="Dealer">Dealer</option>
                <option value="Individual">Individual</option>
            </select></td></tr>

          <tr><td>  <h3 style="left">Transmission type</h3></td>
<td><select name="Transmission_Mannual" id="research" required="required">
                <option value="Mannual">Manual Car</option>
                <option value="Automatic">Automatic Car</option>
            </select></td></tr>
</table>
            <br><br><center><button id="sub" type="submit ">Calculate the Selling Price</button></center>
            <br>

        </form>

        <br><br><h3 {{ prediction_text }}<h3>
        <p style="text-align:center" >{{ prediction_text }}</p>
        </div>
           <br><br><h1 style="text-align:center">Made by souram rakesh<h1>

      </div>

    </body>
</html>
